:root {
  --main-color: #e91e63;
  --accent-color: #f8bbd0;
  --text-color: #333;
  --bg-color: #fff;
  --light-gray: #f5f5f5;
  --shadow: 0 2px 6px rgba(0,0,0,0.1);

  --md-state-hover-opacity: 0.08;
  --md-state-focus-opacity: 0.12;

  /* Typography */
  --md-font-family: "Roboto", "IRANSans", sans-serif;
  --md-label-large-size: 0.875rem; /* 14px */
  --md-label-large-weight: 500;

  /* Shape */
  --md-comp-button-radius: 12px;

  /* Size */
  --md-comp-button-height-sm: 40px;
  --md-comp-button-padding-h: 16px;

}


body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: var(--accent-color);
  direction: rtl;
  
}

/* Layout Table */
.layout-table {
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #FFFFFF;
  padding: 24px;
  vertical-align: top;
  border-right: 1px solid #E7E0EC;
}

.logo {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 24px;
}

.sidebar a {
  display: block;
  padding: 10px 14px;
  margin-bottom: 8px;
  text-decoration: none;
  color: black;
  border-radius: 6px;
}

.sidebar a:hover,
.sidebar a.active {
  background: var(--accent-color);
  color: #1D192B;
}

/* Main Content */
.content {
  padding: 24px;
  vertical-align: top;
}

/* Header */
.dashboard-header h1 {
  margin-bottom: 6px;
  font-size: 22px;
  color: #1D192B;
}

.dashboard-header p {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

/* Cards Table */
.cards-table {
  width: 100%;
  border-spacing: 16px;
}

.card {
  background: #FFFFFF;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  text-align: center;
}

.card h3 {
  font-size: 14px;
  color: #49454F;
  margin-bottom: 6px;
}

.card p {
  font-size: 26px;
  font-weight: 600;
  color: #1D192B;
}

/* جدول آخرین فعالیت‌ها */
.md-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  background: #FFFFFF;
  border-radius: 12px;
  overflow: hidden;
}

.md-table th {
  background: #F3EDF7;
  padding: 14px;
  text-align: left;
  font-size: 14px;
}

.md-table td {
  padding: 14px;
  border-top: 1px solid #E7E0EC;
  font-size: 14px;
}
